{% extends 'layouts/base-user.html' %}

{% block title %}Productos{% endblock %}

{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/inventario.css') }}">
{% endblock %}

{% block body %} 
<main>
    <header class="product-header">
        <h2 class="pb-3 pt-2">INVENTARIO</h2>

        <div class="search">
            <form action="/buscar-producto" method="POST" class="mb-2 search" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search" name="search_query">
            </form>
        </div>
                
        <div class="dropdown-product">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownProduct1" data-bs-toggle="dropdown" aria-expanded="false"> 
                <strong>Ordenar por:</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownProduct1">
                <li><a class="dropdown-item" href="{{ url_for('mostrar_producto', sort_by='nombre') }}">Nombre</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mostrar_producto', sort_by='descripcion') }}">Descripción</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mostrar_producto', sort_by='ubicacion') }}">Ubicación</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mostrar_producto', sort_by='cantidad') }}">Cantidad</a></li>
                <li><a class="dropdown-item" href="{{ url_for('mostrar_producto', sort_by='categoria') }}">Categoría</a></li>
            </ul>
        </div>
    </header>                
        {% if g.user and g.user['id_rol'] == 2 %}
        <div class="btn-agregar-p">
            <button type="button" class="btn btn-success" id="btn-agregar" data-bs-toggle="modal" data-bs-target="#addProductModal">
                Añadir Producto
            </button>
        </div>
        {% endif %}
        <div class="table-responsive mt-4">

            {% if productos %}
            {% if g.user and g.user['id_rol'] == 2 or g.user and g.user['id_rol'] == 1  %}
                {% with messages = get_flashed_messages() %}    
                {% if messages %}
                <br>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dissmissible" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            {% endif %}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>N° de serie</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Ubicación</th>
                        <th>Stock</th>
                        <th>Categoría</th>
                        {% if g.user and g.user['id_rol'] == 2 or g.user and g.user['id_rol'] == 1  %}
                        <th>Modificar</th>
                        {% endif %}
                        {% if g.user and g.user['id_rol'] == 3  %}
                        <th>Carrito</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                <!-- productos-->
                    {% for data in productos %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.nro_serie }}</td>
                        <td>{{ data.nombre }}</td>
                        <td>{{ data.descripcion }}</td>
                        <td>{{ data.ubicacion }}</td>
                        <td>{{ data.cantidad }}</td>
                        <td>{{ data.categoria_nombre }}</td>
                        {% if g.user and g.user['id_rol'] == 2 or g.user and g.user['id_rol'] == 1 %}
                        <td>
                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#editProduct{{ data.id }}">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <!-- CENTRAR BOTONES-->
                            <!-- MODAL EDICION/MODIFICACION PRODUCTOS-->
                            <div class="modal fade" id="editProduct{{ data.id }}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/editar_producto/{{ data.id }}" method="POST">
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label for="editNroSerie{{ data.id }}" class="form-label">Número de serie:</label>
                                                        <input type="number" class="form-control" id="editNroSerie{{ data.id }}" name="editNroSerie"
                                                        value="{{ data.nro_serie }}"required>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="editNombre{{ data.id }}" class="form-label">Nombre:</label>
                                                        <input type="text" class="form-control" id="editNombre{{ data.id }}" name="editNombre"
                                                        value="{{ data.nombre }}" required>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label for="editDescripcion{{ data.id }}" class="form-label">Descripción:</label>
                                                        <input type="text" class="form-control" id="editDescripcion{{ data.id }}" name="editDescripcion"
                                                        value="{{ data.descripcion }}" required>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label for="editPrecio{{ data.id }}" class="form-label">Precio:</label>
                                                        <input type="int" class="form-control" id="editPrecio{{ data.id }}" name="editPrecio"
                                                        value="{{ data.precio }}" required>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label for="editUbicacion{{ data.id }}" class="form-label">Ubicación:</label>
                                                        <input type="text" class="form-control" id="editUbicacion{{ data.id }}" name="editUbicacion"
                                                        value="{{ data.ubicacion }}" required>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label for="editCantidad{{ data.id }}" class="form-label">Stock disponible:</label>
                                                        <input type="number" class="form-control" id="editCantidad{{ data.id }}" name="editCantidad"
                                                        value="{{ data.cantidad }}"required>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col-md-6">
                                                        <label for="editCategoria{{ data.id }}" class="form-label">Categoría:</label>
                                                        <select class="form-control" id="editCategoria{{ data.id }}" name="editCategoria" required>
                                                            <option value="1" {% if data.categoria==1 %} selected {% endif
                                                                %}>Categoría 1</option>
                                                            <option value="2" {% if data.categoria==2 %} selected {% endif
                                                                %}>Categoría 2</option>
                                                            <option value="3" {% if data.categoria==3 %} selected {% endif
                                                                %}>Categoría 3</option>
                                                            <option value="4" {% if data.categoria==4 %} selected {% endif
                                                                %}>Categoría 4</option>
                                                        </select>
                                                    </div>
                                                </div>         
                                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% if g.user and g.user['id_rol'] == 3  %}
                        <td>
                            <button type="button" class="btn btn-info">
                                <i class="bi bi-cart2"> Agregar</i>
                            </button>
                        </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% else %}
            <p>No hay productos</p>
            {% endif %}
        </div>
    </div>
    <!--MODAL AGREGAR PRODUCTOS-->
    <div class="modal fade" id="addProductModal" tabindex="-1"aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Añadir Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/agregar_productos" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="addNroSerie" class="form-label">Número de serie:</label>
                                <input type="number" class="form-control" id="addNroSerie" name="addNroSerie" required>
                            </div>
                            <div class="col-md-6">
                                <label for="addNombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="addNombre" name="addNombre" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="addDescripcion" class="form-label">Descripción:</label>
                                <input type="text" class="form-control" id="addDescripcion" name="addDescripcion" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="addUbicacion" class="form-label">Ubicación:</label>
                                <input type="text" class="form-control" id="addUbicacion" name="addUbicacion" required>
                            </div>
                            <div class="col-md-6">
                                <label for="addPrecio" class="form-label">Precio:</label>
                                <input type="int" class="form-control" id="addPrecio" name="addPrecio" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="addCantidad" class="form-label">Stock:</label>
                                <input type="number" class="form-control" id="addCantidad" name="addCantidad" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="addCategoria" class="form-label">Categoría:</label>
                                <select class="form-control" id="addCategoria" name="addCategoria" required>
                                    <option selected disabled>Seleccione</option>
                                    <option value="1" id="categoria" name="categoria">Categoría 1</option>
                                    <option value="2" id="categoria" name="categoria">Categoría 2</option>
                                    <option value="3" id="categoria" name="categoria">Categoría 3</option>
                                    <option value="4" id="categoria" name="categoria">Categoría 4</option>
                                </select>
                            </div>
                        </div>            
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    
</main>
<script src="{{ url_for('static', filename='js/inventario.js') }}"></script>

{% endblock %}