

#product-form {
    display: none;
    transition: all 0.3s ease-in-out;
  }
  
  #product-form.show {
    display: block;
  }
  .btn-agregar-p{
    display: flex;
    justify-content: right;
    margin-bottom: 8px;
  }
  
  .img-agregar {
    padding-right: 4px;
  }
  
  .cont {
    display: flex;
    align-items: center;
  }
  
  .logout {
    font-size: 20px;
    margin-left: 75%;
  }